<h2 class="demo__label">Input File</h2>

<div class="demo__wrapper">
  <table>
    <tr>
      <th>input-file</th>
      <td>
        <app-input-file>
          <app-button>Кнопка</app-button>
        </app-input-file>
      </td>
    </tr>
    <tr>
      <th>multiple</th>
      <td>
        <app-input-file multiple>
          <app-button>Кнопка</app-button>
        </app-input-file>
      </td>
    </tr>
    <tr>
      <th>disabled</th>
      <td>
        <app-input-file disabled>
          <app-button disabled>Кнопка</app-button>
        </app-input-file>
      </td>
    </tr>
  </table>
</div>
