<div class="demo">
  <h2>Демо-каталог компонентов</h2>
  <ul class="demo__list">
    <li><a class="link" routerLink="/demo/ui-table">Таблица</a></li>
    <li><a class="link" routerLink="/demo/ui-modal">Модальное окно</a></li>
    <li><a class="link" routerLink="/demo/ui-form">Форма</a></li>
    <li><a class="link" routerLink="/demo/ui-button">Кнопка</a></li>
    <li><a class="link" routerLink="/demo/ui-radio">Радиобаттон</a></li>
    <li><a class="link" routerLink="/demo/ui-checkbox">Чекбоксы</a></li>
    <li><a class="link" routerLink="/demo/ui-input">Инпуты</a></li>
    <li><a class="link" routerLink="/demo/ui-select">Селекты</a></li>
    <li><a class="link" routerLink="/demo/ui-textarea">Текстовое поле</a></li>
    <li>
      <a class="link" routerLink="/demo/ui-input-file">Загрузка файлов</a>
    </li>
    <li><a class="link" routerLink="/demo/ui-datepicker">Datepicker</a></li>
    <li><a class="link" routerLink="/demo/ui-input-search">Поле поиска</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
