<h2 class="demo__label">select</h2>

<div class="demo__wrapper">
  <table [formGroup]="form">
    <tr>
      <th>color primary</th>
      <td>
        <app-select
          formControlName="default"
          [items]="foods"
          color="primary"
        ></app-select>
      </td>
    </tr>
    <tr>
      <th>color accent</th>
      <td>
        <app-select
          formControlName="default"
          [items]="foods"
          color="accent"
        ></app-select>
      </td>
    </tr>
    <tr>
      <th>color warn</th>
      <td>
        <app-select
          formControlName="default"
          [items]="foods"
          color="warn"
        ></app-select>
      </td>
    </tr>
    <tr>
      <th>placeholder</th>
      <td>
        <app-select
          formControlName="default"
          [items]="foods"
          placeholder="Placeholder"
        ></app-select>
      </td>
    </tr>
    <tr>
      <th>label</th>
      <td>
        <app-select
          formControlName="default"
          [items]="foods"
          label="Label"
        ></app-select>
      </td>
    </tr>
    <tr>
      <th>value</th>
      <td>
        <app-select
          formControlName="value"
          [items]="foods"
          label="Label"
        ></app-select>
      </td>
    </tr>
    <tr>
      <th>resetOption</th>
      <td>
        <app-select
          formControlName="default"
          [items]="foods"
          label="Label"
          resetOption="Choose Framework"
        ></app-select>
      </td>
    </tr>
    <tr>
      <th>multiple</th>
      <td>
        <app-select
          formControlName="multiple"
          [items]="foods"
          label="Label"
          multiple
        ></app-select>
      </td>
    </tr>
    <tr>
      <th>disabled</th>
      <td>
        <app-select
          formControlName="disabled"
          [items]="foods"
          label="Label"
        ></app-select>
      </td>
    </tr>
    <tr>
      <th>required</th>
      <td>
        <app-select
          formControlName="default"
          [items]="foods"
          label="Required"
          resetOption="Choose Framework"
          required
        ></app-select>
      </td>
    </tr>
  </table>
</div>
