<form [formGroup]="form">
  <div>
    <app-checkbox formControlName="checkbox1"></app-checkbox>
    <app-checkbox formControlName="checkbox2" color="primary"></app-checkbox>
    <app-checkbox formControlName="checkbox3" color="accent"></app-checkbox>
    <app-checkbox formControlName="checkbox4" color="warn"></app-checkbox>
  </div>
  <div>
    <app-radio
      [items]="radioItems"
      formControlName="gender"
      color="accent"
    ></app-radio>
  </div>
  <div>
    <app-input formControlName="input"></app-input>
    <app-input formControlName="inputDisabled"></app-input>
    <app-input formControlName="inputNumber" type="number" readonly></app-input>
  </div>
  <div>
    <app-select formControlName="select" [items]="selectItems"></app-select>
    <app-select
      formControlName="selectMulti"
      [items]="selectItems"
      multiple
    ></app-select>
  </div>

  <pre>{{ form.value | json }}</pre>

  <app-button (click)="form.reset(defaultControls)">Reset</app-button>
</form>
