<h2 class="demo__label">Datepicker</h2>

<div class="demo__wrapper">
  <table [formGroup]="form">
    <tr>
      <th>datepicker primary</th>
      <td>
        <app-datepicker formControlName="date" color="primary"></app-datepicker>
      </td>
    </tr>
    <tr>
      <th>datepicker accent</th>
      <td>
        <app-datepicker formControlName="date" color="accent"></app-datepicker>
      </td>
    </tr>
    <tr>
      <th>datepicker warn</th>
      <td>
        <app-datepicker formControlName="date" color="warn"></app-datepicker>
      </td>
    </tr>
    <tr>
      <th>datepicker error</th>
      <td>
        <app-datepicker formControlName="dateRequired"></app-datepicker>
      </td>
    </tr>
    <tr>
      <th>datepicker placeholder</th>
      <td>
        <app-datepicker
          formControlName="date"
          placeholder="Placeholder"
        ></app-datepicker>
      </td>
    </tr>
    <tr>
      <th>datepicker label</th>
      <td>
        <app-datepicker formControlName="date" label="Label"></app-datepicker>
      </td>
    </tr>
    <tr>
      <th>datepicker hint</th>
      <td>
        <app-datepicker formControlName="date" hint="Hint"></app-datepicker>
      </td>
    </tr>
    <tr>
      <th>datepicker readonly</th>
      <td>
        <app-datepicker formControlName="date" readonly></app-datepicker>
      </td>
    </tr>
    <tr>
      <th>datepicker</th>
      <td>
        <app-datepicker formControlName="disabled"></app-datepicker>
      </td>
    </tr>
  </table>
</div>
