.modal {
  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
  &__title {
    &-error {
      display: flex;
      flex-wrap: nowrap;
      column-gap: 16px;
    }
    &-error-icon {
      color: var(--button-warning);
    }
  }
}