<h2 class="demo__label">input</h2>

<div class="demo__wrapper">
  <table [formGroup]="form">
    <tr>
      <th>color primary</th>
      <td>
        <app-input-search
          formControlName="search"
          [items]="options"
          color="primary"
        ></app-input-search>
      </td>
    </tr>
    <tr>
      <th>color accent</th>
      <td>
        <app-input-search
          formControlName="search"
          [items]="options"
          color="accent"
        ></app-input-search>
      </td>
    </tr>
    <tr>
      <th>color warn</th>
      <td>
        <app-input-search
          formControlName="search"
          [items]="options"
          color="warn"
        ></app-input-search>
      </td>
    </tr>
    <tr>
      <th>readonly</th>
      <td>
        <app-input-search
          formControlName="value"
          [items]="options"
          readonly
        ></app-input-search>
      </td>
    </tr>
    <tr>
      <th>disabled</th>
      <td>
        <app-input-search
          formControlName="disabled"
          [items]="options"
        ></app-input-search>
      </td>
    </tr>
    <tr>
      <th>error</th>
      <td>
        <app-input-search
          formControlName="validate"
          [items]="options"
        ></app-input-search>
      </td>
    </tr>
    <tr>
      <th>label</th>
      <td>
        <app-input-search
          formControlName="search"
          [items]="options"
          label="Label"
        ></app-input-search>
      </td>
    </tr>
    <tr>
      <th>placeholder</th>
      <td>
        <app-input-search
          formControlName="search"
          [items]="options"
          placeholder="Placeholder"
        ></app-input-search>
      </td>
    </tr>
  </table>
</div>
