<h2 class="demo__label">input</h2>

<div class="demo__wrapper">
  <table [formGroup]="form">
    <tr>
      <th>color primary</th>
      <td>
        <app-input formControlName="default" color="primary"></app-input>
      </td>
    </tr>
    <tr>
      <th>color accent</th>
      <td>
        <app-input formControlName="default" color="accent"></app-input>
      </td>
    </tr>
    <tr>
      <th>color warn</th>
      <td>
        <app-input formControlName="default" color="warn"></app-input>
      </td>
    </tr>
    <tr>
      <th>value</th>
      <td>
        <app-input formControlName="value"></app-input>
      </td>
    </tr>
    <tr>
      <th>readonly</th>
      <td>
        <app-input formControlName="readonly" readonly></app-input>
      </td>
    </tr>
    <tr>
      <th>disabled</th>
      <td>
        <app-input formControlName="disabled"></app-input>
      </td>
    </tr>
    <tr>
      <th>label</th>
      <td>
        <app-input formControlName="label" label="Label"></app-input>
      </td>
    </tr>
    <tr>
      <th>placeholder</th>
      <td>
        <app-input
          formControlName="placeholder"
          placeholder="Placeholder"
        ></app-input>
      </td>
    </tr>
    <tr>
      <th>type number</th>
      <td>
        <app-input formControlName="number" type="number"></app-input>
      </td>
    </tr>
  </table>
</div>
