<mat-form-field [color]="color">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  <input
    matInput
    [matDatepicker]="picker"
    [placeholder]="placeholder"
    [readonly]="readonly"
    [disabled]="disabled"
    [ngModel]="value"
    (ngModelChange)="onModelChange($event)"
  />
  @if (hint) {
    <mat-hint>{{ hint }}</mat-hint>
  }
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  @if (control.errors && control.dirty) {
    <mat-error>{{ control.errors | errorFormText }}</mat-error>
  }
</mat-form-field>
