<h2 class="demo__label">Кнопка</h2>
<div class="demo__wrapper">
  <table>
    <tr>
      <th>Basic</th>
      <td>
        <app-button>Basic</app-button>
        <app-button color="primary">Primary</app-button>
        <app-button color="accent">Accent</app-button>
        <app-button color="warn">Warn</app-button>
        <app-button [disabled]="true">Disabled</app-button>
        <app-button href="https://www.google.com/" target="_blank">
          Link
        </app-button>
      </td>
    </tr>
    <tr>
      <th>Raised</th>
      <td>
        <app-button type="raised">Basic</app-button>
        <app-button type="raised" color="primary">Primary</app-button>
        <app-button type="raised" color="accent">Accent</app-button>
        <app-button type="raised" color="warn">Warn</app-button>
        <app-button type="raised" [disabled]="true">Disabled</app-button>
        <app-button type="raised" href="https://www.google.com/" target="_blank">
          Link
        </app-button>
      </td>
    </tr>
    <tr>
      <th>Stroked</th>
      <td>
        <app-button type="stroked">Basic</app-button>
        <app-button type="stroked" color="primary">Primary</app-button>
        <app-button type="stroked" color="accent">Accent</app-button>
        <app-button type="stroked" color="warn">Warn</app-button>
        <app-button type="stroked" [disabled]="true">Disabled</app-button>
        <app-button type="stroked" href="https://www.google.com/" target="_blank">
          Link
        </app-button>
      </td>
    </tr>
    <tr>
      <th>Flat</th>
      <td>
        <app-button type="flat">Basic</app-button>
        <app-button type="flat" color="primary">Primary</app-button>
        <app-button type="flat" color="accent">Accent</app-button>
        <app-button type="flat" color="warn">Warn</app-button>
        <app-button type="flat" [disabled]="true">Disabled</app-button>
        <app-button type="flat" href="https://www.google.com/" target="_blank">
          Link
        </app-button>
      </td>
    </tr>
  </table>
</div>

