@if (type === 'flat') {
  @if (href) {
    <a
      mat-flat-button
      [color]="color"
      [disabled]="disabled"
      [href]="href"
      [target]="target"
    >
      <ng-container *ngTemplateOutlet="btn"></ng-container>
    </a>
  } @else {
    <button mat-flat-button [color]="color" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="btn"></ng-container>
    </button>
  }
} @else if (type === 'raised') {
  @if (href) {
    <a
      mat-raised-button
      [color]="color"
      [disabled]="disabled"
      [href]="href"
      [target]="target"
    >
      <ng-container *ngTemplateOutlet="btn"></ng-container>
    </a>
  } @else {
    <button mat-raised-button [color]="color" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="btn"></ng-container>
    </button>
  }
} @else if (type === 'stroked') {
  @if (href) {
    <a
      mat-stroked-button
      [color]="color"
      [disabled]="disabled"
      [href]="href"
      [target]="target"
    >
      <ng-container *ngTemplateOutlet="btn"></ng-container>
    </a>
  } @else {
    <button mat-stroked-button [color]="color" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="btn"></ng-container>
    </button>
  }
} @else {
  @if (href) {
    <a
      mat-button
      [color]="color"
      [disabled]="disabled"
      [href]="href"
      [target]="target"
    >
      <ng-container *ngTemplateOutlet="btn"></ng-container>
    </a>
  } @else {
    <button mat-button [color]="color" [disabled]="disabled">
      <ng-container *ngTemplateOutlet="btn"></ng-container>
    </button>
  }
}

<ng-template #btn>
  <ng-content></ng-content>
</ng-template>
