<h2 class="demo__label">Модальное окно</h2>
<div class="demo__wrapper">
  <table>
    <tr>
      <th>info</th>
      <td>
        <app-button type="stroked" color="primary" (click)="showInfoModal()">Показать</app-button>
      </td>
    </tr>
    <tr>
      <th>confirm</th>
      <td>
        <app-button type="stroked" color="primary" (click)="showConfirmModal()">Показать</app-button>
      </td>
    </tr>
    <tr>
      <th>error</th>
      <td>
        <app-button type="stroked" color="primary" (click)="showErrorModal()">Показать</app-button>
      </td>
    </tr>
    <tr>
      <th>input</th>
      <td>
        <app-button type="stroked" color="primary" (click)="showInputModal()">Показать</app-button>
      </td>
    </tr>
  </table>
</div>
